---
import Page from "@layouts/Page.astro";
import Footer from "@components/Footer.astro";
---
<Page title="LU15">
    <p>
        british hobbyist programmer, sysadmin, and student. i like to push Minecraft to its limits
    </p>
    <ul>
        <li>Matrix: <a href="https://matrix.to/#/@luis:lu15.dev" target="_blank">@luis:lu15.dev</a></li>
        <li>GitHub: <a href="https://github.com/LooFifteen" target="_blank">LooFifteen</a></li>
        <li>Email: <a href="mailto:luis@lu15.dev">luis@lu15.dev</a></li>
    </ul>
    <Footer />
</Page>
