---
---
<footer>
    <img alt="lu15" src="/buttons/lu15.png" />
    <a href="https://emortaldev.github.io"><img alt="emortaldev" src="/buttons/emortaldev.png"></a>
    <img alt="miku" src="/buttons/miku.gif" />
</footer>

<style>
    footer a img {
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
        padding: 0 !important;
        margin: 0 !important;
    }
</style>